<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>奖项信息</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  


   <!-- 引入 Bootstrap -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!--导入script-->
    <script src="../../static/js/jquery-1.11.2.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false"></button>
                <a class="navbar-brand" href="../">奖项申报</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./">系统管理</a></li>
                <li><a href="../myApply">个人中心</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2376200788 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">退出登录</a></li>
                        <li><a href="#">切换账号</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    </div>
    <ul class="breadcrumb">
        <li><a href="./">系统管理</a> <span class="divider"></span></li>
        <li><a href="../OrganManage">单位管理</a><span class="divider"></span></li>
        <li><a href="./"><b>奖项信息</b></a> <span class="divider">/</span></li>
    </ul>
    <div id="award_inquire" class="content-head mgb10 form-inline">

        <span> 申报奖项：</span>> <input type="text" id = "query_name" >

        <span> 所属组织：</span>> <input type="text" id = "query_organ">


        <span> 状态：</span>>
        <select class="form-control" id="query_status" onmousedown="javascript:return true;">
			<option value="0">不限</option>
			<option value="1">生效中</option>
			<option value="2">已过期</option>
		</select> 

        <span> 申报时间：</span>> <input class="form-control date-input" id="query_apply_time" type="text" />
        <span>&emsp;&emsp;</span><span>&emsp;&emsp;</span>
        <div class="form-group">
            <a class="btn btn-default btn-sm" href="" id="query">查询</a>
        </div>

        <span>&emsp;&emsp;</span><span>&emsp;&emsp;</span>
        <div class="form-group">
            <a class="btn btn-default btn-sm" href="" id="batchCloning" target = "_blank">批量克隆</a>
        </div>

        <span>&emsp;&emsp;</span><span>&emsp;&emsp;</span>
        <div class="form-group">
            <a class="btn btn-default btn-sm" href="" id="newadd" target = "_blank">新增</a>
        </div>


        <br/><br/>

    </div>
    <div class="tb-container form-inline">
        <table id="tb_data">
        </table>
    </div>
    <table class="table table-condensed table-bordered" id = "table01">
        <thead>
            <tr name="checkall">
                
                <th>所属组织</th>
                <th>奖项级别</th>
                <th>申报奖项</th>
                <th>状态</th>
                <th>开始时间</th>
                <th>申报时间</th>
                <th>申报人数</th>
                <th>获奖人数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id = "information">
            <tr>
                <td>蓝鲸产品中心</td>
                <td>中心级</td>
                <td>季度之星</td>
                <td>开启</td>
                <td>2017-11-10 20:00:00</td>
                <td>2017-11-20 20:00:00</td>
                <td>10</td>
                <td>1</td>
            </tr>
            
            
            % for i in awards_information :
            	 
			<tr>
				<td>${i.group_award.id_organ}</td>
				<td>${i.award_level}</td>
				<td>${i.id_award}</td>
				<td>${i.status}</td>
				<td>${i.start_time}</td>
				<td>${i.end_time}</td>
				<td>${i.apply_number}</td>
				<td>${i.award_number}</td>
                <td>
                    <button class="btn btn-defaul" > <i class="glyphicon glyphicon-open">查看</i></button>
                    <button class="btn btn-defaul" > <i class="glyphicon glyphicon-copyright-mark">克隆</i></button>
                    <button class="btn btn-defaul" > <i class="glyphicon glyphicon-pencil">编辑</i></button>
                    <button class="btn btn-defaul" > <i class="glyphicon glyphicon-remove">删除</i> </button>
                </td>
			</tr>
				
			% endfor
            
        </tbody>
          
    </table>
    <div style="float: right">
        <button class="prev">上一页</button>
        <button class="btn">1</button>
        <button class="btn">2</button>
        <button class="btn">3</button>
        <button class="btn">4</button>
        <button class="next">下一页</button>
    </div>



	 <div style=
    			"position: absolute;
				left: 0;
				top: 0;
				width: 500px;left: 50%;margin-left: -25%;
				height: 800px;
				top:50px;
				background-color:#E0EEE0;
				border : 1px solid #B9D3EE;
				display: none;
				padding : 40px;"
				onmousedown="move(this)"
				id="clone">
		
        <span> 奖项名称&emsp;&emsp;</span>
        <input type="text" style="width:300px; height:30px;" id = "clone_award_name">
        
        <br/><br/>

        <span> 评奖条件&emsp;&emsp;</span>
        <input type="text" style="width:300px; height:200px;" id = "clone_award_if">

        <br/><br/>
        
        <span> 奖项级别&emsp;&emsp;</span> 
        <select
			class="" id="clone_award_level">
			<option value="1">部门级</option>
			<option value="2">中心级</option>
			<option value="3">公司级</option>
			<option value="4">小组级</option>
		</select> 

        <br/><br/>
        
        <span> 所属组织&emsp;&emsp;</span>
		<input type="text" style="width: 300px; height: 30px;" id = "clone_organ">
		
		<br/><br/>
		<span>开始时间&emsp;&emsp;</span>
		<input type="text"style="width: 300px; height: 30px;" id = "clone_start_time"> <br /> <br /> 
		
		<span>申报时间&emsp;&emsp;</span> 
		<input type="text" style="width: 300px; height: 30px;" id = "clone_apply_time"> <br /> <br /> 
		 
		<span>申报人数&emsp;&emsp;</span> 
		<input type="text" style="width: 300px; height: 30px;" id = "clone_apply_number"> <br /> <br /> 
		 
		<span>获奖人数&emsp;&emsp;</span> 
		<input type="text" style="width: 300px; height: 30px;" id = "clone_award_number"> <br /> <br /> 
		 
		<span>上传附件&emsp;&emsp;</span>

		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" id = "clone_yes">YES</button>
			<button type="button" class="btn btn-default" id = "clone_no">NO</button>
		</div>

		<br /> <br /> 
		<span> 状态&emsp;&emsp;&emsp;&emsp;</span>
		<button type="button" class="btn btn-default" id = "clone_effcting">生效</button>
		<span>&emsp;&emsp;</span>
		<button type="button" class="btn btn-default" id = "clone_outtime">过期</button>
		
		<br /> <br /> 
		
        <button type="submit" class="btn btn-default" style = "float:right" id = "clone_save">保存</button> 
    </div>
	
	<div style=
    			"position: absolute;
				left: 0;
				top: 0;
				width: 500px;left: 50%;margin-left: -25%;
				height: 800px;
				top:50px;
				background-color:#E0EEE0;
				border : 1px solid #B9D3EE;
				display: none;
				padding : 40px;"
				onmousedown="move(this)"
				id="edit">
		
        <span> 奖项名称&emsp;&emsp;</span>
        <input type="text" style="width:300px; height:30px;" id = "edit_award_name" disabled = "disabled">
        
        <br/><br/>

        <span> 评奖条件&emsp;&emsp;</span>
        <input type="text" style="width:300px; height:200px;" id = "edit_award_if">

        <br/><br/>
        
        <span> 奖项级别&emsp;&emsp;</span> 
        <select
			class="" id="edit_award_level">
			<option value="1">部门级</option>
			<option value="2">中心级</option>
			<option value="3">公司级</option>
			<option value="4">小组级</option>
		</select> 

        <br/><br/>
        
        <span> 所属组织&emsp;&emsp;</span>
		<input type="text" style="width: 300px; height: 30px;" id = "edit_organ">
		
		<br/><br/>
		<span>开始时间&emsp;&emsp;</span>
		<input type="text"style="width: 300px; height: 30px;" id = "edit_start_time"> <br /> <br /> 
		
		<span>申报时间&emsp;&emsp;</span> 
		<input type="text" style="width: 300px; height: 30px;" id = "edit_apply_time"> <br /> <br /> 
		 
		<span>申报人数&emsp;&emsp;</span> 
		<input type="text" style="width: 300px; height: 30px;" id = "edit_apply_number"> <br /> <br /> 
		 
		<span>获奖人数&emsp;&emsp;</span> 
		<input type="text" style="width: 300px; height: 30px;" id = "edit_award_number"> <br /> <br /> 
		 
		<span>上传附件&emsp;&emsp;</span>

		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" id = "edit_yes">YES</button>
			<button type="button" class="btn btn-default" id = "edit_no">NO</button>
		</div>

		<br /> <br /> 
		<span> 状态&emsp;&emsp;&emsp;&emsp;</span>
		<button type="button" class="btn btn-default" id = "edit_effcting">生效</button>
		<span>&emsp;&emsp;</span>
		<button type="button" class="btn btn-default" id = "edit_outtime">过期</button>
		
		<br /> <br /> 
		
        <button type="submit" class="btn btn-default" style = "float:right" id = "edit_save">保存</button> 
    </div>




</body>

<script>

	
    $(function() {
    	$("#newadd").click(function() {
    		window.open("../newAddAwards");
    	})
    });
    
    $(function() {
    	$("#batchCloning").click(function() {
    		window.open("../batchCloning");
    	})
    })


    $('#table01').find('.glyphicon-open').parent('button').click(function(){
        
    	var check_award_name = $(this).closest('tr').children('td:eq(2)').text();
    	
    	alert( check_award_name );
    	
    	window.location.href= '../CheckAwards?nid='+encodeURI(check_award_name);
    
    });
    
    
    

	//克隆功能
    $('#table01').find('.glyphicon-copyright-mark').parent('button').click(function(){
        
          

    	if($("#clone").css("display")=="none"){
            $("#clone").show();
        }  
    	
    	var clone_award_name = $(this).closest('tr').children('td:eq(2)').text(); 
    	
    	$("#clone_award_name").val(clone_award_name);
    	
    	var url = "${SITE_URL}clone_award/";
    	
    	var param = {
    			clone_award_name : clone_award_name
			};
     
    	$.get(url, param, function(res) {
    		if(res.result) {
    			
    			$("#clone_award_if").val(res.award_if);
    			$("#clone_award_level").val(res.award_level);
    			$("#clone_organ").val(res.organ);
    			$("#clone_apply_number").val(res.apply_number);
    			$("#clone_award_number").val(res.award_number);
    			$("#clone_award_if").val(res.award_if);
    			$("#clone_start_time").val(res.start_time);
    			$("#clone_apply_time").val(res.apply_time);
    			$("#clone_award_number").val(res.award_number);
    		}
		}, 'json');
                
    });
	
  //是否上传附件
	var is_upload;
	$("#clone_yes").click( function() {
		is_upload = 1;
	});
	
	$("#clone_no").click( function() {
		is_upload = 0;
	});
	
	var is_effect;
	$("#clone_effcting").click( function() {
		is_effect = true;
	});
	
	$("#clone_outtime").click( function() {
		is_effect = false;
	});
	

	//克隆完保存功能
	$("#clone_save").click(function (){
	
	var url = "${SITE_URL}clone_change/";
	
	var award_name = $("#clone_award_name").val();
	var award_if = $("#clone_award_if").val();
	var award_level = $("#clone_award_level option:selected").val();
	var organ = $("#clone_organ").val();
	
	var start_time = $("#clone_start_time").val();
	var apply_time = $("#clone_apply_time").val();
	
	var apply_number = $("#clone_apply_number").val();
	var award_number = $("#clone_award_number").val();
	
	var is_attach = is_upload;
	var status = is_effect;
	
	var param = {
			award_name : award_name,
			award_if : award_if,
			award_level : award_level,
			organ : organ,
			start_time : start_time,
			apply_time : apply_time,
			is_attach : is_attach,
			status : status,
			apply_number : apply_number,
			award_number : award_number
		};

		$.get(url, param, function(res) {
			
		}, 'json');
	
    if($("#clone").css("display")=="block"){
        $("#clone").hide();
    }
});
	
	

    //编辑功能
    $('#table01').find('.glyphicon-pencil').parent('button').click(function(){

    	if($("#edit").css("display")=="none"){
            $("#edit").show();
        }
    	
    	 
    	
    	var edit_award_name = $(this).closest('tr').children('td:eq(2)').text(); 
    	
    	$("#edit_award_name").val(edit_award_name);
    	
    	var url = "${SITE_URL}edit_award/";
    	
    	var param = {
    			edit_award_name : edit_award_name
			};

     
    	$.get(url, param, function(res) {
    		if(res.result) {
    			$("#edit_award_if").val(res.award_if);
    			$("#edit_award_level").val(res.award_level);
    			$("#edit_organ").val(res.organ);
    			$("#edit_apply_number").val(res.apply_number);
    			$("#edit_award_number").val(res.award_number);
    			$("#edit_award_if").val(res.award_if);
    			$("#edit_start_time").val(res.start_time);
    			$("#edit_apply_time").val(res.apply_time);
    			$("#edit_award_number").val(res.award_number);
    		}
		}, 'json');
    	
    	//window.location.href = "../edit";
    });
    
  	//是否上传附件
	var is_upload;
	$("#edit_yes").click( function() {
		is_upload = 1;
	});
	
	$("#edit_no").click( function() {
		is_upload = 0;
	});
	
	var is_effect;
	$("#edit_effcting").click( function() {
		is_effect = true;
	});
	
	$("#edit_outtime").click( function() {
		is_effect = false;
	});
    

	//编辑完保存功能
	$("#edit_save").click(function (){
	
	var url = "${SITE_URL}edit_change/";
	
	var award_name = $("#edit_award_name").val();
	var award_if = $("#edit_award_if").val();
	var award_level = $("#edit_award_level option:selected").val();
	var organ = $("#edit_organ").val();
	
	var start_time = $("#edit_start_time").val();
	var apply_time = $("#edit_apply_time").val();
	
	var apply_number = $("#edit_apply_number").val();
	var award_number = $("#edit_award_number").val();
	
	var is_attach = is_upload;
	var status = is_effect;
	
	var param = {
			award_name : award_name,
			award_if : award_if,
			award_level : award_level,
			organ : organ,
			start_time : start_time,
			apply_time : apply_time,
			is_attach : is_attach,
			status : status,
			apply_number : apply_number,
			award_number : award_number
		};

		$.get(url, param, function(res) {
			
		}, 'json');
	
    if($("#edit").css("display")=="block"){
        $("#edit").hide();
    }
});

    
    
    //删除功能
    $('#table01').find('.glyphicon-remove').parent('button').click(function(){
    	
    	//软删除？
    	var url = "${SITE_URL}delete_award/";
    	var id_award = $(this).closest('tr').children('td:eq(2)').text();
    	alert( id_award );
    	
    	var param = {
    			id_award : id_award
			};

		$.get(url, param, function(res) {
				
			}, 'json');
    	
			
        if(confirm('确定要删除？')){
            $(this).closest('tr').remove();
        }
    });
    
    var arr = [];
    //查询功能
    $("#query").click( function() {
    	var query_name = $("#query_name").val();
    	if ( query_name == "" ) {
    		query_name = "*";
    	}
    	
    	var query_organ = $("#query_organ").val();
    	if ( query_organ == "" ) {
    		query_organ = "*";
    	}
    	var query_status = $("#query_status option:selected").val();
    	
    	var query_apply_time = $("#query_apply_time").val();
    	if ( query_apply_time == "" ) {
    		query_apply_time = "*";
    	}
    	
    	var url = "${SITE_URL}query_award/";
    	
    	var param = {
    			query_name : query_name,
    			//query_organ : query_organ,
    			//query_status : query_status,
    			//query_apply_time : query_apply_time
			};
    	
    	$.get(url, param, function(res) {
			if ( res ) {
				arr.push( res );
			}
		}, 'json');
    	
    	alert( arr[0].id_award );
    });
    

//div窗体拖动功能
function move(obj,e){
		var _move=false;//移动标记  
		var _x,_y;//鼠标离控件左上角的相对位置  
		$(obj).click(function(){  
			//alert("click");//点击（松开后触发）  
			}).mousedown(function(e){  
			_move=true;  
			_x=e.pageX-parseInt($(obj).css("left"));  
			_y=e.pageY-parseInt($(obj).css("top"));  
			//$(obj).fadeTo(20, 0.5);//点击后开始拖动并透明显示  
		});  
		$(document).mousemove(function(e){  
			if(_move){  
				var x=e.pageX-_x;//移动时根据鼠标位置计算控件左上角的绝对位置  
				var y=e.pageY-_y;  
				$(obj).css({top:y,left:x});//控件新位置  
			}  
		}).mouseup(function(){  
		_move=false;  
   	 	//$(obj).fadeTo("fast", 1);//松开鼠标后停止移动并恢复成不透明  "fast":规定褪色效果的速度。
  		});  
	}


</script>

</html>