<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>我的申报-奖项申报</title>

    <!-- 引入 Bootstrap -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!--导入script-->
    <script src="../../static/js/jquery-1.11.2.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
        </button>
                <a class="navbar-brand" href="../">奖项申报</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../awards">系统管理</a></li>
                <li><a href="../myApply">个人中心</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2376200788 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">退出登录</a></li>
                        <li><a href="#">切换账号</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    </div>
    <ul class="breadcrumb">
        <li>
            <a href="../awards">系统管理</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="./">奖项详情</a> <span class="divider">/</span>
        </li>
        <li class="divider">
        </li>
    </ul>
    </div>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-9 column">
                        <dl style="background-color:aquamarine;padding:10px;">

                            <dt>
                                奖项名称
                            </dt>
                            <dd>
                                运营安全组2017年Q3季度奖评选
                            </dd><br/>

                            <dt>
                                评奖条件
                            </dt>
                            <dd>
                                旨在表彰正确传承公司企业文化精神、精确执行BG本年度管理战略的团队，具体评选标准如下：<br/> <br/>  该项目或产品能够支撑公司及BG战略目标的实现； <br/><br/>                                 该项目或产品达到如下精品的标准：<br/> <br/> ※ 满足甚至超越目标用户的需求；<br/> <br/> ※ 功能简单易用，有独特的价值和体验，且细节做到极致；<br/><br/>                                ※ 能体现产品功能背后的人文关怀；
                                <br/><br/> ※ 至少有1个或以上的口碑传播点。 <br/><br/> 奖金：2000元
                            </dd><br/>

                            <dt>
                                审核人
                            </dt>
                            <dd>
                                xxx;yyy;zzz
                            </dd><br/>

                            <dt>
                                状态
                            </dt>
                            <dd>
                                生效中
                            </dd><br/>

                            <dt>
                                奖项级别
                            </dt>
                            <dd>
                                部门级
                            </dd><br/>

                            <dt>
                                所属中心
                            </dt>
                            <dd>
                                蓝鲸产品中心
                            </dd><br/>

                            <dt>
                                开始日期
                            </dt>
                            <dd>
                                2017-11-01
                            </dd><br/>

                            <dt>
                                结束日期
                            </dt>
                            <dd>
                                2017-11-30
                            </dd><br/>


                        </dl>

                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">申请人/团队</th>
                                    <th style="text-align:center;">申报状态</th>
                                    <th style="text-align:center;">申报时间</th>
                                    <th style="text-align:center;">事迹介绍</th>
                                    <th style="text-align:center;">上传附件</th>
                                    <th style="text-align:center;">评语</th>
                                    <th style="text-align:center;">操作</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center;">
                                <tr>
                                    <td>xxx</td>
                                    <td>审核中</td>
                                    <td>2017-11-20 20:00:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="链接">查看</a></td>
                                </tr>
                                <tr>
                                    <td>xxx</td>
                                    <td>审核中</td>
                                    <td>2017-11-20 20:00:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="链接">查看</a></td>
                                </tr>
                                <tr>
                                    <td>xxx</td>
                                    <td>审核中</td>
                                    <td>2017-11-20 20:00:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="链接">查看</a></td>
                                </tr>
                                <tr>
                                    <td>xxx</td>
                                    <td>审核中</td>
                                    <td>2017-11-20 20:00:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="链接">查看</a></td>
                                </tr>
                                <tr>
                                    <td>xxx</td>
                                    <td>审核中</td>
                                    <td>2017-11-20 20:00:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="链接">查看</a></td>
                                </tr>
                                <tr>
                                    <td>xxx</td>
                                    <td>审核中</td>
                                    <td>2017-11-20 20:00:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="链接">查看</a></td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="position:absolute;height:800;width:600px;display:hidden;border:5px solid silver;padding:10px;" id="add">
        <span> 获奖人/团队</span>
        <input type="text" style="width:200px; height:30px;">
        <span>&emsp;&emsp;</span>

        <br/><br/>
        <span> 事迹介绍&emsp;</span>
        <input type="text" style="width:200px; height:300px;">

        <br/><br/>
        <span> 附件：&emsp;&emsp;<a href = "#">答辩.ppt</a></span>

        <br/><br/>
        <span> 评审结果：</span><span>&emsp;&emsp;已评奖</span>

        <br/><br/>
        <span> 评语：&emsp;</span> <input type="text" style="width:400px; height:30px;">

    </div>


</body>

<script>

</script>

</html>