<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>首页</title>

    <!-- 引入 Bootstrap -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!--导入script-->
    <script src="../../static/js/jquery-1.11.2.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
</head> 



<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        </button>
        <a class="navbar-brand" href="./">奖项申报</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="awards">系统管理</a></li>
        <li><a href="myApply">个人中心</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2376200788 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">退出登录</a></li>
            <li><a href="#">切换账号</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="page-header">
    <h2>当前可申报奖项</h2>
  </div>

  <!--图片和文字-->
  <div class="row" style="text-align:left;" id = "pic">

	<style>
		li{
		list-style-type:none;
		padding-left:40px;
		}
	</style>
    % for i in apply_award :
    <div class="col-md-2">
      <div class="thumbnail" >
        <a href="#"><img src="../../static/images/1.jpg"></a>
       <ul>
       		<li>${i.group_award.id_organ}</li>
       		<li>${i.id_award}</li>
       		<li>${i.apply_number}</li>
       </ul>
      </div>
    </div>
	% endfor
  </div>

  <div class="page-header">
    <h2>上次获奖人名单</h2>
  </div>

  <!--列表-->
  <div class="panel panel-default">

		<!-- Table -->
		<table class="table" style="text-align: center;" id = "table01">
			<thead >
				<tr>
					<td class="col-md-2">所属单位</td>
					<td class="col-md-2">申报奖项</td>
					<td class="col-md-2">申请时间</td>
					<td class="col-md-3">申请人/团队</td>
					<td class="col-md-2">申报详情</td>
				</tr>
			</thead>
			<tbody >
				% for i in prize_record :
				<tr>
					<td>${i.apply_award.group_award.id_organ}</td>
					<td>${i.apply_award.id_award}</td>
					<td>${i.create_time}</td>
					<td>${i.id_apply}</td>
					<td>
						<button class="btn btn-defaul">
							<i class="glyphicon glyphicon-open">查看</i>
						</button>
					</td>
				</tr>
				% endfor
			</tbody>
		</table>
	</div>

	<!-- 已获奖的查看按钮 -->
	<!-- 查看弹框 -->
	<div class = "row" style=
    			"position: absolute;
				left: 0;
				top: 0;
				width: 800px;left: 50%;margin-left: -25%;
				height: 800px;
				top:50px;
				background-color:#E0EEE0;
				border : 1px solid #B9D3EE;
				display: none;
				padding : 40px;"
				onmousedown="move(this)"
				id="prize_view">
		<div class="col-md-6">
			<span> 奖项名称&emsp;&emsp;</span> 
			<input type="text" style="width: 300px; height: 30px;" id="prize_award_name" disabled="disabled"> 
			
			<br />
			<br /> 
			<span> 评奖条件&emsp;&emsp;</span> 
			<input type="text" style="width: 300px; height: 200px;" id="prize_award_if">

			<br />
			<br /> 
			<span> 奖项级别&emsp;&emsp;</span> 
			<input type="text" style="width: 300px; height: 30px;" id ="prize_award_level" disabled="disabled"> 
			
			<br />
			<br /> 
			<span> 所属组织&emsp;&emsp;</span> 
			<input type="text" style="width: 300px; height: 30px;" id="prize_organ"> 
			
			<br />
			<br /> 
			<span>开始时间&emsp;&emsp;</span>
			<input type="text"	style="width: 300px; height: 30px;" id="prize_start_time"> 
			 
			<br />
			<br /> 
			<span>结束时间&emsp;&emsp;</span> 
			<input type="text" style="width: 300px; height: 30px;" id="prize_end_time"> <br />
			<br />
		</div>

		<div class="col-md-6">
			<span> 申报人/团队&nbsp;&nbsp;</span> 
			<input type="text" id="apply_name" style="width: 300px; height: 30px;">
			<span style="color: red">*</span>


			<br />
			<span> 事迹介绍&emsp;&emsp;</span> 
			<input type="text" id="prize_intro" style="width: 300px; height: 150px;">
			<span style="color: red">*</span>

			<br />
			<label for="exampleInputFile">附件</label>
			<input type="file" id="file" name="myfile" /> 
			
			<br />
            <span> 评审结果&emsp;&emsp;</span>
            <input type="text" style="width: 300px; height: 30px;background-color:transparent;border:0;" id="prize_ap_status" disabled="disabled">
                            
            <br/>
            <br/>

            <div class="content-head mgb10 form-inline">

            	<span> 评语&emsp;&emsp;</span>
            	<input type="text" id="prize_comments" style="width: 300px; height: 150px; padding-top: 0px;" disabled="disabled" >
            	<span style="color:red">*</span>
            </div>

			<br />

			<button type="submit" class="btn btn-default" style="float: right" id="prize_quit">返回</button>
			<span style="float: right">&emsp;&emsp;</span>


		</div>
	</div>
	

</body>
<script>
    $(function(){
    	$("#pic").find("img").click( function() {
    		var award = $(this).parent("a").parent("div").find("ul").children().eq(1).text();
    		
    		window.location.href= '../ApplyAwards?nid='+encodeURI(award);
    		//alert( award )
    	})
    })
    
    //查看
 $('#table01').find('.glyphicon-open').parent('button').click(function(){
        
    	if($("#prize_view").css("display")=="none"){
            $("#prize_view").show();
        }

    	var apply_award_name = $(this).closest('tr').children('td:eq(1)').text(); 
    	var apply_name = $(this).closest('tr').children('td:eq(3)').text(); 
    	
    	$("#prize_award_name").val(apply_award_name);
    	$("#apply_name").val(apply_name);

    	
    	var url = "${SITE_URL}apply_award/";//申请表查看页面函数
    	
    	var param = {
    			apply_award_name : apply_award_name,
    			apply_name : apply_name
			};

     
    	$.get(url, param, function(res) {
    		if(res.result) {
    			$("#prize_award_if").val(res.award_if);
				$("#prize_award_status").val(res.award_status);
    			$("#prize_award_level").val(res.award_level);
    			$("#prize_organ").val(res.organ);
    			$("#prize_start_time").val(res.start_time);
    			$("#prize_end_time").val(res.end_time);

    			$("#prize_intro").val(res.intro);
    			$("#prize_ap_status").val(res.ap_status);
    			$("#prize_comments").val(res.comments);

 //   			$("#edit_award_number").val(res.award_number);
    		}
		}, 'json');
    	
    	//window.location.href = "../edit";
    });
    

	//查看后返回功能
	$("#prize_quit").click(function (){
	
    if($("#prize_view").css("display")=="block"){
        $("#prize_view").hide();
    }

    
    });
    
    
    //div窗体拖动功能
	function move(obj, e) {
		var _move = false;//移动标记  
		var _x, _y;//鼠标离控件左上角的相对位置  
		$(obj).click(function() {
			//alert("click");//点击（松开后触发）  
		}).mousedown(function(e) {
			_move = true;
			_x = e.pageX - parseInt($(obj).css("left"));
			_y = e.pageY - parseInt($(obj).css("top"));
			//$(obj).fadeTo(20, 0.5);//点击后开始拖动并透明显示  
		});
		$(document).mousemove(function(e) {
			if (_move) {
				var x = e.pageX - _x;//移动时根据鼠标位置计算控件左上角的绝对位置  
				var y = e.pageY - _y;
				$(obj).css({
					top : y,
					left : x
				});//控件新位置  
			}
		}).mouseup(function() {
			_move = false;
			//$(obj).fadeTo("fast", 1);//松开鼠标后停止移动并恢复成不透明  "fast":规定褪色效果的速度。
		});
	}
</script>

</html>