<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>单位管理</title>

    <!-- 引入 Bootstrap -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!--导入script-->
    <script src="../../static/js/jquery-1.11.2.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false"></button>
                <a class="navbar-brand" href="../">奖项申报</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../awards">系统管理</a></li>
                <li><a href="../myApply">个人中心</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2376200788 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">退出登录</a></li>
                        <li><a href="#">切换账号</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    </div>
    <ul class="breadcrumb">
        <li><a href="../awards">系统管理</a> <span class="divider"></span></li>
        <li><a href="./"><b>单位管理</b></a><span class="divider"></span></li>
        <li><a href="../awards">奖项信息</a> <span class="divider"></span></li>

    </ul>

    <!--新增的按钮-->
    <div class="form-group">
        <span>&emsp;&emsp;</span><span>&emsp;&emsp;</span>
        <a class="btn btn-default btn-sm" href="javascript:;" id="newAdd"> 新增</a>
    </div>


    <div class="tb-container form-inline" >
        <table id="tb_data">
        </table>
    </div>
    <table class="table table-condensed table-bordered" style="text-align:center;" id = "organ_information">
        <thead >
            <tr>
                <th>所属组织</th>
                <th>负责人</th>
                <th>参评人员</th>
                <th>更新人</th>
                <th>申报时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            % for i in organ_information :
                 
            <tr>
                <td>${i.organ.id_organ}</td>
                <td>${i.organ_charge}</td>
                <td>${i.organ_apply}</td>
                <td>${i.organ.organ_id.username}</td>
                <td>${i.organ.apply_time}</td>
                <td>
                    <button class="btn btn-defaul" > <i class="glyphicon glyphicon-pencil">编辑</i></button>
                    <button class="btn btn-defaul" > <i class="glyphicon glyphicon-remove">删除</i></button>
                </td>
            </tr>
                
            % endfor

            
            
        </tbody>
    </table>
    <div style="float: right">
        <button class="prev">上一页</button>
        <button class="btn">1</button>
        <button class="btn">2</button>
        <button class="btn">3</button>
        <button class="btn">4</button>
        <button class="next">下一页</button>
    </div>

    <div style=
    			"position: fixed;
				left: 0;
				top: 0;
				width: 500px;left: 50%;margin-left: -25%;
				height: 500px;
				top:100px;
				background-color:#E0EEE0;
				border : 1px solid #B9D3EE;
				display: none;
				padding : 40px;"
				onmousedown="move(this)"
				id="add">
		
        <span> 所属组织</span>
        <input type="text" style="width:300px; height:30px;" id = "organ">
        
        <br/><br/><br/><br/>

        <span> 负责人员</span>
        <input type="text" style="width:300px; height:30px;" id = "organ_charge">

        <br/><br/><br/><br/>
        
        <span> 参评人员</span>
        <input type="text" style="width:300px; height:90px;" id = "organ_apply">

        <br/><br/><br/>
        <button type="submit" class="btn btn-default" style = "float:right" id = "save">保存</button> 
    </div>
    
    
    <div style=
    			"position: fixed;
				left: 0;
				top: 0;
				width: 500px;left: 50%;margin-left: -25%;
				height: 500px;
				top:100px;
				background-color:#E0EEE0;
				border : 1px solid #B9D3EE;
				display: none;
				padding : 40px;"
				onmousedown="move(this)"
				id="edit">
		
        <span> 所属组织</span>
        <input type="text" style="width:300px; height:30px;" id = "edit_organ">
        
        <br/><br/><br/><br/>

        <span> 负责人员</span>
        <input type="text" style="width:300px; height:30px;" id = "edit_organ_charge">

        <br/><br/><br/><br/>
        
        <span> 参评人员</span>
        <input type="text" style="width:300px; height:90px;" id = "edit_organ_apply">

        <br/><br/><br/>
        <button type="submit" class="btn btn-default" style = "float:right" id = "edit_save">保存</button> 
    </div>

    

</body>

<script>

$("#newAdd").click(function (){
    if($("#add").css("display")=="none"){
        $("#add").show();
    }
});

$("#save").click(function (){
	
	var url = "${SITE_URL}new_add_organization/";
	
	var organ = $("#organ").val();
	var organ_charge = $("#organ_charge").val();
	var organ_apply = $("#organ_apply").val();
	var myDate = new Date();
	var apply_time = myDate.getFullYear()+'-'+myDate.getMonth()+'-'+myDate.getDate()
					+' '+myDate.getHours()+':'+myDate.getMinutes()+':'+myDate.getSeconds();
					
	var param = {
			organ : organ,
			organ_charge : organ_charge,
			organ_apply : organ_apply,
			apply_time : apply_time
		};

		$.get(url, param, function(res) {
			
		}, 'json');
	
    if($("#add").css("display")=="block"){
        $("#add").hide();
    }
});

//删除功能
$('#organ_information').find('.glyphicon-remove').parent('button').click(function(){
	
		
    if(confirm('确定要删除？')){
        $(this).closest('tr').remove();
    }
});

//编辑功能
$('#organ_information').find('.glyphicon-pencil').parent('button').click(function(){

	if($("#edit").css("display")=="none"){
        $("#edit").show();
    }
	
	var edit_organ = $(this).closest('tr').children('td:eq(0)').text();
	var edit_organ_charge = $(this).closest('tr').children('td:eq(1)').text();
	var edit_organ_apply = $(this).closest('tr').children('td:eq(2)').text();
	
	$("#edit_organ").val(edit_organ);
	$("#edit_organ_charge").val(edit_organ_charge);
	$("#edit_organ_apply").val(edit_organ_apply);
	
//	var url = "${SITE_URL}edit_organ/";
});

//编辑完保存功能
	$("#edit_save").click(function (){

	var url = "${SITE_URL}edit_organ_manage/";
	var myDate = new Date();
	var edit_organ = $("#edit_organ").val();
	var edit_organ_charge = $("#edit_organ_charge").val();
	var edit_organ_apply = $("#edit_organ_apply").val();
	var apply_time = myDate.getFullYear()+'-'+myDate.getMonth()+'-'+myDate.getDate()
				+' '+myDate.getHours()+':'+myDate.getMinutes()+':'+myDate.getSeconds();
	alert(edit_organ_charge);
	
	var param = {
		organ : edit_organ,
		organ_charge : edit_organ_charge,
		organ_apply : edit_organ_apply,
		apply_time : apply_time
	};

	$.get(url, param, function(res) {
		
	}, 'json');

	if($("#edit").css("display")=="block"){
    	$("#edit").hide();
	}
});

	//div窗体拖动功能
	function move(obj,e){
			var _move=false;//移动标记  
			var _x,_y;//鼠标离控件左上角的相对位置  
			$(obj).click(function(){  
				//alert("click");//点击（松开后触发）  
				}).mousedown(function(e){  
				_move=true;  
				_x=e.pageX-parseInt($(obj).css("left"));  
				_y=e.pageY-parseInt($(obj).css("top"));  
				//$(obj).fadeTo(20, 0.5);//点击后开始拖动并透明显示  
			});  
			$(document).mousemove(function(e){  
				if(_move){  
					var x=e.pageX-_x;//移动时根据鼠标位置计算控件左上角的绝对位置  
					var y=e.pageY-_y;  
					$(obj).css({top:y,left:x});//控件新位置  
				}  
			}).mouseup(function(){  
			_move=false;  
	   	 	//$(obj).fadeTo("fast", 1);//松开鼠标后停止移动并恢复成不透明  "fast":规定褪色效果的速度。
	  		});  
		}

</script>

</html>